<navbar (childMessageEvent)="receiveEvent($event)"></navbar>

<div class="container">
    <section id="section0">
        <div class="head">
            <div class="description">
                <h1><strong>{{language.tA}}</strong></h1>
                <p>{{language.tA_h1}}</p>
                <p>{{language.tA_h2}}</p>
            </div>
            <div class="author">
                <div>
                    <h1><strong>{{language.tB}}</strong></h1>
                    <p>{{language.tB_h1}}</p>
                    <p>{{language.tB_h2}}</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <br><br><br><br>


    <section id="section1">
        <h1 class="title"><strong>{{language.t1}}</strong></h1>
        <br>
        <p class="paragraph">{{language.t1_h1}}</p>
        <p class="line">{{language.t1_h1_p1}}</p>
        <p class="line">{{language.t1_h1_p2}}</p>
        <p class="line">{{language.t1_h1_p3}}</p>
        <p class="line">{{language.t1_h1_p4}}</p>
        <p class="line">{{language.t1_h1_p5}}</p>
        <p class="line">{{language.t1_h1_p6}}</p>
    </section>
    <br>
    <hr>
    <br><br><br><br>


    <section id="section2">
        <h1 class="title"><strong>{{language.t2}}</strong></h1>
        <br>
        <p class="paragraph">{{language.t2_h1}}</p>
        <p class="line">{{language.t2_h1_p1}}</p>
        <p class="line">{{language.t2_h1_p2}}</p>
        <p class="line">{{language.t2_h1_p3}}</p>
        <p class="line">{{language.t2_h1_p4}}</p>
        <p class="line">{{language.t2_h1_p5}}</p>
    </section>
    <br>
    <hr>
    <br><br><br><br>


    <section id="section3">
        <h1 class="title"><strong>{{language.t3}}</strong></h1>
        <br>
        <p class="paragraph">{{language.t3_h1}}</p>
        <p class="line">{{language.t3_h1_p1}}</p>
        <p class="line">{{language.t3_h1_p2}}</p>
        <p class="line">{{language.t3_h1_p3}}</p>
        <p class="line">{{language.t3_h1_p4}}</p>
    </section>
    <br>
    <hr>
    <br><br><br><br>


    <section id="section4">
        <h1 class="title"><strong>{{language.t4}}</strong></h1>
        <br>
        <p class="paragraph">{{language.t4_h1}}</p>
        <p class="line">{{language.t4_h1_p1}}</p>
        <p class="line">{{language.t4_h1_p2}}</p>
        <p class="line">{{language.t4_h1_p3}}</p>        
    </section>
    <br>
    <hr>
    <br><br><br><br>


    <section id="section5">
        <h1 class="title"><strong>{{language.t5}}</strong></h1>
        <br>

        <div class="about">
            <div class="describe">
                <p class="paragraph">{{language.t5_h1}}</p>
            </div>
            <div class="photo">
                <img src="assets/images/img.jpg" alt="image">
            </div>
        </div>
    </section>
    <br>
    <hr>
    <br><br><br><br><br>


    <section id="section6">
        <h1 class="title"><strong>{{language.t6}}</strong></h1>
        <br>
        <p class="line">{{language.t6_h1}}</p>
        <p class="line">{{language.t6_h2}}</p>
    </section>
    <br>
    <hr>
    <br><br><br><br>


    <section id="section7">
        <h1 class="title"><strong>{{language.t7}}</strong></h1>
        <br>
        <p class="line"><b>{{language.t7_h1}}</b>{{language.t7_h1_p1}}</p>
        <p class="line"><b>{{language.t7_h2}}</b>{{language.t7_h2_p1}}</p>
        <p class="line"><b>{{language.t7_h3}}</b>{{language.t7_h3_p1}}</p>
    </section>
    <br>
    <hr>
    <br><br><br><br>
    <br><br><br><br>
</div>