.content {
    margin: 0 18px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.description {
    padding-right: 14px;
}

.author {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 420px;
}

img {
    width: 200px;
}

.head h1 {
    font-size: 26px;
}

.head p {
    font-size: 18px;
}

section {
    scroll-margin-top: 60px;
}

.title {
    font-size: 36px;
    text-align: center;
}

.paragraph {
    line-height: 32px;
    font-size: 22px;
}

.line {
    margin-left: 30px;
    font-size: 22px;
}

hr {
    color: rgb(201, 201, 201);
}

@media (max-width: 811px) {
    .head {
        display: flex;
        flex-direction: column;        
    }

    .author {
        margin-top: 50px;
    }
}