<header (childMessageEvent)="receiveEvent($event)"></header>

<div class="content">
    <section id="section0">
        <br><br><br><br><br><br>
        <div class="head">
            <div class="description">
                <h1><strong>{{language.titleA}}</strong></h1>
                <p>{{language.lineA}}</p>
                <p>{{language.lineB}}</p>
            </div>
            <div class="author">
                <div>
                    <h1><strong>{{language.titleB}}</strong></h1>
                    <p>{{language.lineC}}</p>
                    <p>{{language.lineD}}</p>
                </div>
                <div>
                    <img src="assets/images/img.jpg" alt="image">
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <hr>
    <br><br><br><br><br>


    <section id="section1">
        <br><br><br><br><br><br>
        <h1 class="title"><strong>{{language.title1}}</strong></h1>
        <br><br>
        <p class="paragraph">{{language.paragraph11}}</p>
        <p class="line">{{language.line11}}</p>
        <p class="line">{{language.line12}}</p>
        <p class="line">{{language.line13}}</p>
        <p class="line">{{language.line14}}</p>
        <p class="line">{{language.line15}}</p>
        <p class="line">{{language.line16}}</p>
    </section>
    <br><br>
    <hr>
    <br><br><br><br><br>


    <section id="section2">
        <br><br><br><br><br><br>
        <h1 class="title"><strong>{{language.title2}}</strong></h1>
        <br><br>
        <p class="paragraph">{{language.paragraph21}}</p>
        <p class="line">{{language.line21}}</p>
        <p class="line">{{language.line22}}</p>
        <p class="line">{{language.line23}}</p>
        <p class="line">{{language.line24}}</p>
        <p class="line">{{language.line25}}</p>
    </section>
    <br><br>
    <hr>
    <br><br><br><br><br>


    <section id="section3">
        <br><br><br><br><br><br>
        <h1 class="title"><strong>{{language.title3}}</strong></h1>
        <br><br>
        <p class="paragraph">{{language.paragraph31}}</p>
        <p class="line">{{language.line31}}</p>
        <p class="line">{{language.line32}}</p>
        <p class="line">{{language.line33}}</p>
        <p class="line">{{language.line34}}</p>
    </section>
    <br><br>
    <hr>
    <br><br><br><br><br>


    <section id="section4">
        <br><br><br><br><br><br>
        <h1 class="title"><strong>{{language.title4}}</strong></h1>
        <br><br>
        <p class="paragraph">{{language.paragraph41}}</p>
        <p class="line">{{language.line41}}</p>
        <p class="line">{{language.line42}}</p>
        <p class="line">{{language.line43}}</p>
        <p class="paragraph">{{language.paragraph42}}</p>
        <p class="paragraph">{{language.paragraph43}}</p>
    </section>
    <br><br>
    <hr>
    <br><br><br><br><br>


    <section id="section5">
        <br><br><br><br><br><br>
        <h1 class="title"><strong>{{language.title5}}</strong></h1>
        <br><br>
        <p class="paragraph">{{language.paragraph51}}</p>
    </section>
    <br><br>
    <hr>
    <br><br><br><br><br>


    <section id="section6">
        <br><br><br><br><br><br>
        <h1 class="title"><strong>{{language.title6}}</strong></h1>
        <br><br>
        <p class="paragraph"><b>{{language.line61}}</b>{{language.line62}}</p>
        <p class="paragraph"><b>{{language.line63}}</b>{{language.line64}}</p>
        <p class="paragraph"><b>{{language.line65}}</b>{{language.line66}}</p>
    </section>
    <br><br>
    <hr>
    <br><br><br><br><br>
    <br><br><br><br><br>
</div>