.container {
    margin-top: 200px;
    padding: 0 3%;    
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.description {
    margin-right: 50px;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

.about {
    display: flex;
    flex-direction: row;
}

.describe {
    padding-right: 10px;
}

.photo {
    text-align: center;
}

img {
    width: 300px;
}

.head h1 {
    font-size: 28px;
}

.head p {
    font-size: 20px;
    margin-bottom: 0;
}

section {
    scroll-margin-top: 160px;
}

.title {
    font-size: 36px;
    text-align: center;
}

.paragraph {
    text-align: justify;
    line-height: 32px;
    font-size: 22px;
}

.line {
    font-size: 22px;
    margin-bottom: 0;
}

hr {
    color: rgb(201, 201, 201);
}

@media (max-width: 850px) {
    .head {
        display: flex;
        flex-direction: column;
    }

    .author {
        margin-top: 50px;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    section {
        scroll-margin-top: 256px;
    }
}

@media (max-width: 550px) {
    .container {
        margin-top: 100px;
    }

    .description {
        margin-right: 0;
    }

    .author {
        margin-top: 30px;
        margin-right: 0;
        flex-direction: column;
    }

    .head h1 {
        font-size: 26px;
    }

    .head p {
        font-size: 18px;
    }

    .title {
        font-size: 30px;
        text-align: center;
    }

    .paragraph {
        line-height: 22px;
        font-size: 18px;
        text-align: left;
    }

    .line {
        font-size: 18px;
    }

    img {
        width: 250px;
    }

}