.content {
    margin: 0 18px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.description {
    margin-right: 50px;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

.about {
    display: flex;
    flex-direction: row;
}

.paragraph {
    margin-right: 20px;
}

.photo {
    text-align: center;
}

img {
    margin-top: 24px;
    width: 200px;
}

.head h1 {
    font-size: 28px;
}

.head p {
    font-size: 20px;
}

section {
    scroll-margin-top: 160px;
}

.title {
    font-size: 36px;
    text-align: center;
}

.paragraph {
    line-height: 32px;
    font-size: 22px;
}

.line {
    margin-left: 46px;
    font-size: 22px;
}

hr {
    color: rgb(201, 201, 201);
}

@media (max-width: 830px) {
    .head {
        display: flex;
        flex-direction: column;        
    }

    .author {
        margin-top: 50px;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    section {
        scroll-margin-top: 190px;
    }
}

@media (max-width: 550px) {

    .author {
        margin-top: 30px;
        flex-direction: column;
    }    

    section {
        scroll-margin-top: 230px;
    }
}