<div class="container">

    <ul class="language">
        <li>
            <a [class.color]="currentLanguage === 'german'" (click)="language('german')">deut</a>
        </li>
        <li>|</li>
        <li>
            <a [class.color]="currentLanguage === 'english'" (click)="language('english')">engl</a>
        </li>
        <li>|</li>
        <li>
            <a [class.color]="currentLanguage === 'romanian'" (click)="language('romanian')">rom</a>
        </li>

    </ul>

    <ul class="menu">
        <li>
            <a [class.color]="currentId === 'section1'" (click)="toSection1('section1')">
                {{header.header1}}
            </a>
        </li>
        <li>|</li>
        <li>
            <a [class.color]="currentId === 'section2'" (click)="toSection2('section2')">
                {{header.header2}}
            </a>
        </li>
        <li>|</li>
        <li>
            <a [class.color]="currentId === 'section3'" (click)="toSection3('section3')">
                {{header.header3}}
            </a>
        </li>
        <li>|</li>
        <li>
            <a [class.color]="currentId === 'section4'" (click)="toSection4('section4')">
                {{header.header4}}
            </a>
        </li>
        <li>|</li>
        <li>
            <a [class.color]="currentId === 'section5'" (click)="toSection5('section5')">
                {{header.header5}}
            </a>
        </li>
        <li>|</li>
        <li>
            <a [class.color]="currentId === 'section6'" (click)="toSection6('section6')">
                {{header.header6}}
            </a>
        </li>

    </ul>

    
</div>