/* You can add global styles to this file, and also import other style files */


body {
    max-width: 1300px;
    margin: auto;
    background-image: url("src/assets/images/axi90.png");
    background-size: 100%;    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
